/* color */
$basic-font-color: #444444;
$additional-font-color: #000000;
$green-font-color:#68b738;

/* font */
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

/* viewport */
$tablet-width: 768px;
$desktop-width: 1440px;
