.logo {
  display: flex;
  gap: 35%;
  max-width: 190px;
  align-items: center;


  @media (min-width: $tablet-width) {
    gap: 5%;
    max-width: 177px;
  }

  @media (min-width: $desktop-width) {
    gap: 3%;
    max-width: 202px;
  }
}

.logo__trademark {
  margin: auto;
  max-width: auto;
}

.logo__text {
  margin: auto;
  max-width: auto;
}
