.slider {
  //стили//
}

.slider__image {
  position: absolute;
  top: 0;
  max-width: none;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.slider__image--before {
  left: 0;
  width: 50%;
  overflow: hidden;
  object-position: left;
  transform: translateX(0);
}

.slider__image--after {
  clip: rect(auto 256px auto 140px);

  @media (min-width: $tablet-width) {
    clip: rect(auto 560px auto 280px);
  }
}

.slider__button {
  position: relative;
  padding: 0;
  background-color: #666666;
  width: 4px;
  height: 256px;
  border-radius: 2px;
  border: none;
  left: 0;
  z-index: 10;

  @media (min-width: $tablet-width) {
    height: 512px;
  }
}

.slider__button::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #666666;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  transform: translate(-45%, -50%);
}

.slider__button::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#slider-button-icon");
  width: 24px;
  height: 18px;
  transform: translate(-40%, -50%);
}
